{% extends 'base.html' %}
{% block content %}


<main role="main">

 

    <div class="container">
      <h1>Profile Details</h1>
      <h2>{{ author.name }}</h2>
      <img src="{{ author.thumbnail }}" alt="Profile Thumbnail">
      
      <h3>Affiliations:</h3>
      <p>{{ author.affiliations }}</p>
      
      <h3>Email:</h3>
      <p>{{ author.email }}</p>
      
      <h3>Research Interests:</h3>
      <ul>
          {% for interest in author.interests %}
              <li><a href="{{ interest.link }}" target="_blank">{{ interest.title }}</a></li>
          {% endfor %}
      </ul>
    
      
      <h2>Articles:</h2>
      <ul>
        {% for article in articles %}
          <li>
            <a href="{{ article.link }}">{{ article.title }}</a><br>
            Authors: {{ article.authors }}<br>
            Publication: {{ article.publication }}<br>
            Year: {{ article.year }}<br>
            Cited By: {{ article.cited_by.value }}<br>
          </li>
        {% endfor %}
      </ul>
      
      <h3>Cited By:</h3>
      <p>All time: {{ author.cited_by.table.0.citations.all }}</p>
      <p>Since 2016: {{ author.cited_by.table.0.citations.depuis_2016 }}</p>
      
      <h3>Public Access:</h3>
      <p><a href="{{ author.public_access.link }}" target="_blank">Public Access Link</a></p>
      
      <h3>Co-Authors:</h3>
      <ul>
          {% for coauthor in author.co_authors %}
              <li>
                  <a href="{{ coauthor.link }}" target="_blank">{{ coauthor.name }}</a>,
                  {{ coauthor.affiliations }}
              </li>
          {% endfor %}
      </ul>   <!-- Example row of columns -->
     
    </div> <!-- /container -->

</main>


{% endblock %}